<header class="main-header-container">
  <div class="main-header container">
    <h1>
      <a class="main-logo" href="{% url 'recipes:home' %}">
        <i class="fas fa-utensils logo-icon main-logo-icon"></i>
        <span class="main-logo-text">Recipes</span>
      </a>
    </h1>
    <div class="logar-cadastrar-links">
    <a class="main-logo login"  href="{% url 'authors:login' %}">
      Login
    </a>

    <a class="main-logo cadastrar"  href="{% url 'authors:register' %}">
      Cadastrar
    </a>
  </div>
    </div>
</header>