{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}
{% block body %}
<div class="main-content container">
    <H1 class="h1-login-cadastro">LOGIN</H1>
    <form action="{% url 'authors:login_create' %}" method="POST">
        {% csrf_token %}
        {% include 'partials/forms.html' %}
        {% if form.errors %}
        <div class="form-content form-content-grid">
            <div class="form-group">
                <div class="message message-error">
                    Não foi possível concluir o Login. Verifique os campos e tente novamente.
                </div>
            </div>
        </div>
        {% endif %}
        <div class="form-group form-content-grid">
            <button type="submit">Login</button>
        </div>
    </form>
</div>
{% endblock %}
