{% extends 'base.html' %}

{% block title %}
Cadastro
{% endblock %}
{% block body %}
<div class="main-content container">
    <H1 class="h1-login-cadastro">CADATRO</H1>
    <form action="{% url 'authors:create' %}" method="POST">
        {% csrf_token %}
        {% include 'partials/forms.html' %}
        {% if form.errors %}
            <div class="form-content form-content-grid">
                <div class="form-group">
                    <div class="message message-error">
                        Não foi possível concluir o cadastro. Verifique os campos com erro e tente novamente.
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="form-group form-content-grid">
            <button type="submit">Cadastrar</button>
        </div>
    </form>
</div>

{% endblock %}
